.homepage {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('images/hiking.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.homepage .header {
    text-align: center;
    color: white;
    padding-right: 220px;
    padding-top: 20px;
}

.homepage .trailer {
    color: white;
    display: inline-flex;
}

.homepage .trailer .km {
        font-size: 100px;
        padding-left: 10px;
        padding-top: 300px;
    }

.homepage .trailer .kilometers {
        font-size: 9px;
        padding-left: 85px;
        padding-top: 320px;
        width: 300px;
        text-align: center;
    }

.homepage .join {
    color: white;
    padding-left: 20px;
}

.places .place1 {
    max-height: 100px
}

.places .place2 {
    max-height: 50px
}

.add-place .details {
    background-color: #f4f4f4;

}